*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

:root {
	--gray-100: hsl(0, 0%, 10%);
	--gray-200: hsl(0, 0%, 25%);
	--gray-300: hsl(0, 0%, 46%);
	--gray-400: hsl(0, 0%, 83%);
	--gray-500: hsl(0, 0%, 96%);

	--white: hsl(0, 0%, 100%);
}

body {
	background: white;
	color: var(--black);
	background-color: var(--gray-500);
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	-moz-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

h2 {
	margin-top: 1rem;
	padding-top: 1rem;
}

h1,
h2,
strong {
	font-weight: 500;
}

a {
	text-decoration: none;
	color: var(--red);
}

a:hover {
	text-decoration: underline var(--black);
	text-decoration-thickness: 2px;
}

main {
	flex-direction: column;
	display: flex;
	justify-content: space-between;
}

.content {
	height: calc(100% - 2rem);
	margin: 0 auto;
	max-width: 40rem;
	font-size: large;
}

.greeting {
	margin-block-start: 0.5rem;
	margin-block-end: 0.25rem;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	flex-direction: row;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.nav {
	font-size: 1.25rem;
	font-weight: bold;
	flex-direction: row;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding-bottom: 3px;
	padding-top: 3px;
	background-color: var(--gray-200);
	box-shadow: 0px 0px 3px 2px var(--black);
}

.info {
	margin-bottom: 15px;
}

.links {
	color: var(--gray-400);
	text-align: left;
	padding: 2px 8px;
}

.links a {
	text-align: center;
	padding: 4px;
}

.links a:hover {
	text-decoration: underline var(--gray-400);
	text-decoration-thickness: 2px;
}

.socials {
	padding: 2px 8px;
}

.socials {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
}

.social {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	padding: 4px;
}

.image figure {
	margin: unset;
	text-align: right;
}

.image figcaption {
	font-size: small;
}

.image img {
	max-width: 300px;
	border-radius: 20%;
}

@media (max-width: 600px) {
	.image img {
		max-width: 180px;
	}
}

@media (max-width: 320px) {
	.image img {
		margin-top: 14px;
	}

	.image {
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}
}

.footer {
	margin-top: 2px;
	text-align: center;
	font-size: small;
}
