*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

:root {
	--blue-100: hsl(225, 40%, 18%);
	--blue-200: hsl(225, 40%, 25%);
	--blue-300: hsl(225, 40%, 46%);
	--blue-400: hsl(225, 40%, 84%);
	--blue-500: hsl(225, 40%, 95%);
}

body {
	background-color: var(--blue-400);
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	-moz-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

h2 {
	padding-top: 1rem;
	margin-top: 1rem;
	padding-bottom: 1rem;
}

h1,
h2,
strong {
	font-weight: 500;
}

main {
	flex-direction: column;
	display: flex;
	justify-content: space-between;
}

.content {
	padding-top: 16px;
	margin: 0 auto;
	max-width: 40rem;
	font-size: large;
}

.content a {
	text-decoration: underline var(--blue-500) 2.5px;
	color: inherit;
}

.content a:hover {
	color: var(--blue-500);
}

.greeting {
	margin-block-start: 0.5rem;
	margin-block-end: 0.5rem;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	flex-direction: row;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.greeting__fs {
	color: var(--blue-300);
}

.nav__container {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.nav {
	min-width: 280px;
	font-size: 1.25rem;
	font-weight: bold;
	flex-direction: row;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding: 4px;
	background-color: var(--blue-100);
	border-right: 2px solid var(--blue-500);
	border-left: 2px solid var(--blue-500);
	border-bottom: 2px solid var(--blue-500);
}

.info {
	font-size: 1.2rem;
	margin-bottom: 20px;
}

.info__tech {
	color: var(--blue-300);
}

.info__extra {
	font-size: 1rem;
	color: var(--blue-200);
	background-color: var(--blue-500);
}

.nav a {
	text-decoration: none;
	color: var(--blue-400);
	text-align: center;
	padding: 4px;
}

.mouth {
	border-bottom: 8px solid var(--blue-400);
	height: 100%;
	padding: 20px;
	width: 100px;
}

.links {
	text-align: left;
	padding: 2px 8px;
}

.links a:hover {
	text-decoration: underline var(--blue-400);
	text-decoration-thickness: 2px;
}

.socials {
	padding: 4px 8px;
}

.socials {
	background-color: var(--blue-400);
	border-radius: 60%;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
}

.social {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	padding: 4px;
}

.image figure {
	margin: unset;
	text-align: right;
}

.image figcaption {
	font-size: small;
}

.image img {
	max-width: 300px;
	border-radius: 20%;
}

.footer {
	margin-top: 2px;
	text-align: center;
	font-size: small;
}

@media (max-width: 425px) {
	.content {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.greeting {
		flex-direction: column;
	}

	.image img {
		max-width: 200px;
	}

	.nav {
		min-width: 100vw;
		border-left: unset;
		border-right: unset;
	}
}
